.center-row {
    width: 100%;
    font-size: 0;
}

.column {
    width: 33%;
}

h1,
h2,
footer {
    font-size: 16px;
}

p {
    font-size: 12px;
}


@media (min-width: 992px) {
    .center-row {
        width: 100%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .flex-container {
            width: 100%;
            position: static;
        }
        .right {
            width: 25%;
            position: relative;
            justify-content: left;
        }
        .middle {
            width: 75%;
            position: relative;
            justify-content: center;
        }
        .left {
            width: 100%;
            position: relative;
            justify-content: flex-end;
        }

        @media (min-width: 768px) {
            .center-row {
                width: 50%;
            }

    /* @media screen and (min-width: 768px) {
        .column middle {width: 75%; float: left;}
        .column right {width: 25%; float: right;}
        .column left {} */